
.texca{
color: #fff;


}


.nentra {
margin-top: 3%;
}
* {
    margin: 0;
    padding: 0;
  }

  html{
    scroll-behavior: smooth;
    scroll-padding-top: 97px;
  }

  ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #134383, #134383);
}

::-webkit-scrollbar-track {
    background: #0c0b0b;
}

  @keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  } 

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .button-icon {
    font-size: 1.2rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
  }

  .button-flex {
    display: inline-flex;
    align-items: center;
    transition: .3s;
  }

  .buttondownload{
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 0;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #022859;
    height: 8vh;
  }

  .parallax {
    background-attachment: fixed;
  }
  
  .grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .fourth {
    border-color: #022859;;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #365277 50%, transparent 50%);
    background-image: linear-gradient(45deg, #365277 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }
  
  main {
    background: url("view.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    padding-top: 4%;
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #022859;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  h1 {
    color: #fff;
    font-size: 1.8em;
    width: 100%;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    padding: 20px;
    list-style: none;
    }

  .botao{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #022859;
    font-size: 2em;
    border-radius: 10px;
    }
   
  .h1botao{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 50px 20px;
    font-size: 3em;
    border-radius: 10px;
    padding-top: 3.8em;
    padding-bottom: 0;
    }
       
  .tittle{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    }    

  .sobre{
    background-color: #8dd8b3;
    }    
  
  p{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-family: Century Gothic;
  }

  .img {
    vertical-align: middle;
    border-style: none;
  }  
  
  .especialidades{
    padding-top: 1%;
    background-color:#022047;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }    

  .portifolio{
    padding-top: 1%;
    background-color:#022859;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }  
 
   .carre_couleur
   {
     width:200px;
     height: 200px;
     display: inline-block;
     position: relative;
     margin-top: 0px;
   }
   .base_hov .retract
   {
     -webkit-transition: all 200ms ease-in;
     -webkit-transform-origin: 50% 20%; 
     -webkit-transform: scale(1);
     -moz-transition: all 200ms ease-in;
     -moz-transform-origin: 50% 20%;
     -moz-transform: scale(1);
     -ms-transition: all 200ms ease-in;
     -ms-transform-origin: 50% 20%;
     -ms-transform: scale(1);
     transition: all 200ms ease-in;
     transform-origin: 50% 20%;
     transform: scale(1);
     width:200px;
     height: 200px;
     position: absolute;
     z-index: 2;
     left:0;
   }
   .base_hov:hover .retract
   {
     -webkit-transition: all 200ms ease-in;
     -webkit-transform: scale(0.6);
     -moz-transition: all 200ms ease-in;
     -moz-transform: scale(0.6);
     -ms-transition: all 200ms ease-in;
     -ms-transform: scale(0.6);
     transition: all 200ms ease-in;
     transform: scale(0.6);
   }
   .acced
   {
     width: 180px;
     padding:10px;
     bottom:0; 
     position:absolute;
     z-index: 1; 
     text-align: left;
   }
   .big_acced
   {
     color:#666666;
     font-size:25px;
     font-weight: 400;
     font-family:'Roboto';
   }
   .middle_acced
   {
     color:#fff;
     font-size:15px;
     font-weight: 400;
     font-family:'Roboto';
   }

   .carre_couleur2
   {
     width:200px;
     height: 200px;
     display: inline-block;
     position: relative;
     margin-top: 0px;
   }
   .base_hov2 .retract2
   {
     -webkit-transition: all 200ms ease-in;
     -webkit-transform-origin: 50% 20%; 
     -webkit-transform: scale(1);
     -moz-transition: all 200ms ease-in;
     -moz-transform-origin: 50% 20%;
     -moz-transform: scale(1);
     -ms-transition: all 200ms ease-in;
     -ms-transform-origin: 50% 20%;
     -ms-transform: scale(1);
     transition: all 200ms ease-in;
     transform-origin: 50% 20%;
     transform: scale(1);
     width:200px;
     height: 200px;
     position: absolute;
     z-index: 2;
     left:0;
   }
   .base_hov2:hover .retract2
   {
     -webkit-transition: all 200ms ease-in;
     -webkit-transform: scale(0.6);
     -moz-transition: all 200ms ease-in;
     -moz-transform: scale(0.6);
     -ms-transition: all 200ms ease-in;
     -ms-transform: scale(0.6);
     transition: all 200ms ease-in;
     transform: scale(0.6);
   }
   .acced2
   {
     width: 180px;
     padding:10px;
     bottom:0; 
     position:absolute;
     z-index: 1; 
     text-align: left;
   }
   .big_acced2
   {
     color:#666666;
     font-size:25px;
     font-weight: 400;
     font-family:'Roboto';
   }
   .middle_acced2
   {
     color:#fff;
     font-size:15px;
     font-weight: 400;
     font-family:'Roboto';
   } 

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  display: inline-block;
  border-radius: 10%;
}

figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.imgcomp{
  position: relative;
  align-items: center;
  display: inline-block;
  padding-right: 0%;
  padding-left: 0;
}

.imgcomp:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.video-container{
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  padding-left: 20%;
}

.contato{
  padding-top: 0;
  padding-bottom: 1%;
  background-color:#8dd8b3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}  

.img {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.img:hover {
  opacity: 0.7;
}

.instagram p{
  font-size: 1;
}